## Pandas 과제

Tabular data의 경우 모델을 돌리기에 앞서서 pandas를 통한 전처리가 많이 필요합니다.

다음 과제에서는 판다스에서 가장 자주 쓰이는 함수들을 다룹니다.

구글에 올라와 있는 판다스 연습문제 200제 중 중복되는 것, 불필요하다고 생각되는 것을 제외하여 과제를 만들게 되었습니다.

넘파이 관련 문제들도 있었지만 판다스로만 과제를 구성하게 되었고, 그것들도 풀어보고 싶은 분들은 아래 출처를 남겨 놓았으니 참고하세요.

약 150개 정도로 문제 수가 많지만 기초적인 문제들이 많기 때문에 시간이 좀 걸릴 뿐 큰 어려움은 없을 거라 생각합니다.

문제를 풀다보면 부자연스러운 문제도 많이 있지만 그냥 연습 삼아 풀어보시기 바랍니다.

관련 csv파일들은 별도의 파일에 담아놓았습니다.


 발제자: DA 23기 양진성

### 출처

Author: Avi Chawla

LinkedIn: https://www.linkedin.com/in/avi-chawla/

Read my blogs here: https://medium.com/@avi_chawla

- **Pandas**

1. Pandas Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-1-d693ac55-6455-40cf-ae34-867c6a02014e/%2Fnotebook.ipynb)
2. Pandas Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-dataset-7e3b6755-5d4b-464b-9b75-9c84667ae3bd/%2Fnotebook.ipynb)

3. Pandas Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-Notebook-employee-part-2-adc5a3ee-5f61-4725-8e46-ccb07899acfc/%2Fnotebook.ipynb)

4. Pandas Notebook 4: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Pandas-after-employee-f84e02a1-fb6a-428e-af90-8dd99855749a/%2Fnotebook.ipynb) **(This Notebook)**

- **NumPy**

1. NumPy Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/Numpy-part-1-9b9979f2-b708-4292-b466-3d0157564c91/%2Fnotebook.ipynb)

2. NumPy Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-2-4456411e-2ddd-426d-8027-4881080027db/%2Fnotebook.ipynb)

3. NumPy Notebook 3: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/NumPy-Notebook-3-e6587114-b580-4249-b599-540de859e603/%2Fnotebook.ipynb)

- **SQL**

1. SQL Notebook 1: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-1-eac9d782-a9b1-4e84-a1f9-af14080a6121/%2Fnotebook.ipynb)

2. SQL Notebook 2: [Link](https://deepnote.com/workspace/avi-chawla-695b-aee6f4ef-2d50-4fb6-9ef2-20ee1022995a/project/SQL-Notebook-2-1914b214-be03-44a1-be63-ad99e98be639/%2Fnotebook.ipynb)

# Pandas Notebook 1

In [ ]:
import pandas as pd
import numpy as np

## Create a Pandas DataFrame

### 1. Create a DataFrame from a list of lists. Name the columns "col1", "col2" and "col3".

In [ ]:
data_list = [[1,2,3], [4,5,6]]

df = pd.DataFrame(data_list, columns = ['col1', 'col2', 'cos3'])
print(df)

   col1  col2  cos3
0     1     2     3
1     4     5     6

### 2. Create a DataFrame from a list of lists. Name the columns "col1", "col2" and "col3". Change the data type of all columns to "int8".

In [ ]:
data_list = [[1,2,3], [4,5,6]]

df = pd.DataFrame(data_list, columns = ['col1', 'col2', 'cos3'], dtype = np.int8)
print(df)
print(df.dtypes)

   col1  col2  cos3
0     1     2     3
1     4     5     6
col1    int8
col2    int8
cos3    int8
dtype: object

### 3. Create a DataFrame from a dictionary.

In [ ]:
data_dict = {'col1': [1, 2], 'col2': [3, 4]}

df = pd.DataFrame(data_dict)
print(df)

   col1  col2
0     1     3
1     2     4

### 4. Create a DataFrame from a dictionary. Change the data type to "int8".

In [ ]:
data_dict = {'col1': [1, 2], 'col2': [3, 4]}

df = pd.DataFrame(data_dict,  dtype = np.int8)
print(df)
print(df.dtypes)

   col1  col2
0     1     3
1     2     4
col1    int8
col2    int8
dtype: object

### 5. Create a DataFrame from a numpy array. Name the columns "col1", "col2" and "col3".

In [ ]:
data_nparray = np.array([[1,2,3], [4,5,6]])

df = pd.DataFrame(data_nparray, columns = ['col1', 'col2', 'cos3'], dtype = np.int8)
print(df)

   col1  col2  cos3
0     1     2     3
1     4     5     6

## Input Operations from CSV in Pandas

### 6. Read a CSV File.

In [ ]:
csv_file = "input_data/file1.csv"

df = pd.read_csv(csv_file)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 7. Read a CSV file with delimiter "|".

In [ ]:
csv_file = "input_data/file2.csv"

df = pd.read_csv(csv_file, delimiter = '|')
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 8. Read a CSV file with no header column and use "col1", "col2" and "col3" as column names. The delimiter is ",".

In [ ]:
csv_file = "input_data/file3.csv"

df = pd.read_csv(csv_file, names = ['col1', 'col2', 'cos3'])
print(df)

   col1  col2  cos3
0     1     2     3
1     4     5     6
2     7     8     9

### 9. There are 3 columns in the file, namely "col1", "col2", and "col3". You have to read only "col1" and "col3".

In [ ]:
csv_file = "input_data/file1.csv"

df = pd.read_csv(csv_file, usecols = ['col1', 'col3'])
print(df)

   col1  col3
0     1     3
1     4     6
2     7     9

### 10. There are 3 columns in the file, namely "col1", "col2", and "col3". You have to read only "col1" and "col3". Moreover, the delimiter is "|".

In [ ]:
csv_file = "input_data/file2.csv"

df =pd.read_csv(csv_file, usecols = ['col1', 'col3'], delimiter = '|')
print(df)

   col1  col3
0     1     3
1     4     6
2     7     9

### 11. The file "file4.csv" has junk characters in the first two lines. You have to read the CSV file from the 3rd line.

In [ ]:
csv_file = "input_data/file4.csv"

df = pd.read_csv(csv_file, skiprows = 2)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 12. There are 3 columns in the file, namely "col1", "col2", and "col3". While reading the CSV file, specify the data type of "col1" as 'int32'.

In [ ]:
csv_file = "input_data/file1.csv"

df = pd.read_csv(csv_file, dtype = {'col1' : 'int32'})
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 13. The first column in the CSV file holds index values of the dataframe. Read it so that the first column goes as the index column of the dataframe.

In [ ]:
csv_file = "input_data/file5.csv"

df = pd.read_csv(csv_file, index_col = 0)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9

### 14. There are 9 data rows in the CSV file. Read only the first 4 of them.

Note: You should NOT read the whole CSV file and use the head() method to select the first 4 rows. 🚫

In [ ]:
csv_file = "input_data/file6.csv"

df = pd.read_csv(csv_file, nrows = 4)
print(df)

   col1  col2  col3
0     1     2     3
1     4     5     6
2     7     8     9
3     1     2     3

## Output Operations to CSV in Pandas

### 16. Given the dataframe "df", store it to a CSV File (with the index values).

In [ ]:
df = pd.DataFrame([[1,2,3], [4,5,6]],
                  columns = ["col1", "col2", "col3"])

csv_file = "output_data/file1.csv"

## Start your code here
df.to_csv(csv_file, index=True)

## End your code here

### 17. Given the dataframe "df", store it to a CSV File without the index column this time.

In [ ]:
df = pd.DataFrame([[1,2,3], [4,5,6]],
                  columns = ["col1", "col2", "col3"])

csv_file = "output_data/file2.csv"

## Start your code here
df.to_csv(csv_file, index=False)


## End your code here

### 20. Given a dataframe "df" with three columns -- "col1", "col2" and "col3". Store the DataFrame to a CSV file without the column row ( and without the index values).

In [ ]:
df = pd.DataFrame([[1,2,3], [4,5,6]],
                  columns = ["col1", "col2", "col3"])

csv_file = "output_data/file5.csv"


## Start your code here
df.to_csv(csv_file, index=False, header = False)



## End your code here

# Pandas Notebook 2

### 31. Read the CSV file.

In [ ]:
import pandas as pd

In [ ]:
file_name = "employee_dataset.csv"

df = pd.read_csv(file_name)

### 32. Print the first 5 rows.

In [ ]:
df.head(5)

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8

### 33. Print the last 10 rows.

In [ ]:
df.tail(10)

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
299990,Monica Bender,"Wallace, Smith and Shepard",Production engineer,New Cindychester,Bangladesh,852660,Full Time,3.0
299991,William Rodriguez,Scott Inc,Ergonomist,Whiteside,New Zealand,214400,Full Time,1.5
299992,Steven Thornton,"Baker, Allen and Edwards",Patent examiner,Aliciafort,Benin,60240,Full Time,4.3
299993,Terry Hill,"White, Mcclain and Cobb","Investment banker, corporate",New Cindychester,Sweden,414720,Intern,2.3
299994,Kelly Bennett,"White, Mcclain and Cobb","Radiographer, therapeutic",Wardfort,Fiji,182270,Full Time,3.6
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3

### 34. Print the number of rows.

In [ ]:
rows = len(df)

print(rows)

300000

### 35. Print the number of columns.

In [ ]:
columns = len(df.columns)

print(columns)

8

### 36. Print all column names.

In [ ]:
column_names = df.columns

print(column_names)

Index(['Name', 'Company_Name', 'Employee_Job_Title', 'Employee_City',
       'Employee_Country', 'Employee_Salary', 'Employment_Status',
       'Employee_Rating'],
      dtype='object')

### 37. Print the mean of Employee_Salary.

In [ ]:
df['Employee_Salary'].mean()

500224.20772666665

### 38. Print the mean of Employee_Rating.

In [ ]:
df['Employee_Rating'].mean()

2.5059550000000006

### 39. Print the number of distinct Company_Name.

In [ ]:
df['Company_Name'].nunique()

15

### 41. Print the number of employees working in the company "Nichols-James".

In [ ]:
len(df.query('Company_Name == "Nichols-James"'))

19911

### 42-44. Print the maximum, minimum and median Employee_Salary.

In [ ]:
Employee_Salary = df[['Employee_Salary']]

Employee_Salary.max()

Employee_Salary    999990
dtype: int64

In [ ]:
Employee_Salary.min()

Employee_Salary    0
dtype: int64

In [ ]:
Employee_Salary.median()

Employee_Salary    500780.0
dtype: float64

### 45-49. Print the distribution of the following columns: (the frequency of individual entries).

1. Company_Name

In [ ]:
df['Company_Name'].value_counts()

Scott Inc                         20390
White, Mcclain and Cobb           20261
Thomas-Spencer                    20142
Nelson-Li                         20132
Taylor-Ramos                      20122
Baker, Allen and Edwards          20084
Matthews Inc                      20083
Bullock-Carrillo                  20063
Andrade LLC                       19983
Campos, Reynolds and Mccormick    19927
Nichols-James                     19911
James and Sons                    19868
Marshall-Holloway                 19859
Johnston, Fleming and Tanner      19811
Wallace, Smith and Shepard        19364
Name: Company_Name, dtype: int64

2. Employee_Job_Title

In [ ]:
df['Employee_Job_Title'].value_counts()

Diplomatic Services operational officer                  30137
Administrator                                            15222
Garment/textile technologist                             15183
Trading standards officer                                15155
Patent examiner                                          15085
Armed forces logistics/support/administrative officer    15050
Retail merchandiser                                      15033
Energy manager                                           15033
Actuary                                                  15030
Investment banker, corporate                             15008
Ergonomist                                               15006
Production engineer                                      15003
Equities trader                                          15000
Naval architect                                          14905
Radiographer, therapeutic                                14882
Regulatory affairs officer                               14869
Optometrist                                              14838
Sales promotion account executive                        14820
Make                                                     14741
Name: Employee_Job_Title, dtype: int64

### 50. Print the company with the most number of employees.

In [ ]:
company_name = df['Company_Name'].value_counts()
company_name.idxmax()

'Scott Inc'

### 51. Print the number of employees in the above company.

In [ ]:
company_name.max()

20390

### 52. Print the company with the least number of employees.

In [ ]:
company_name.idxmin()

'Wallace, Smith and Shepard'

### 53. Print the number of employees in the above company.

In [ ]:
company_name.min()

19364

### 54. Print the employee details with the maximum salary

In [ ]:
salary = df.sort_values('Employee_Salary', ascending = False)

salary[salary['Employee_Salary'] == salary['Employee_Salary'].max()]

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
70356,Anna Lawson,Taylor-Ramos,Production engineer,Kristaburgh,Lesotho,999990,Full Time,4.0

### 55. Print the employee details with the maximum rating

In [ ]:
rating = df.sort_values('Employee_Rating', ascending = False)

rating[rating['Employee_Rating'] == rating['Employee_Rating'].max()]

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
222544,Laura Lopez,Scott Inc,Equities trader,Whiteside,British Virgin Islands,271140,Full Time,5.0
26453,Adriana Ferrell,"Johnston, Fleming and Tanner",Ergonomist,Aliciafort,Gabon,678800,Intern,5.0
141265,Russell Dorsey,"Baker, Allen and Edwards",Optometrist,Aliciafort,Morocco,816320,Full Time,5.0
184624,Katherine Jenkins,Matthews Inc,Make,New Cindychester,Nauru,498850,Full Time,5.0
70533,Brittney Greene,James and Sons,Energy manager,Ricardomouth,Bulgaria,332780,Full Time,5.0
...,...,...,...,...,...,...,...,...
20027,Jonathan Wong,Matthews Inc,Armed forces logistics/support/administrative ...,Ricardomouth,Luxembourg,69130,Intern,5.0
84820,Jesse Acosta,Andrade LLC,Patent examiner,Aliciafort,Slovakia (Slovak Republic),353470,Intern,5.0
46507,Andrew Palmer,Marshall-Holloway,Energy manager,Aliciafort,Samoa,949400,Full Time,5.0
175614,William Peters,"White, Mcclain and Cobb",Ergonomist,Whiteside,Austria,61780,Full Time,5.0
30818,Victoria Patel,Marshall-Holloway,Administrator,Whiteside,Puerto Rico,746410,Intern,5.0

### 56. Print the Company_Name with most number of employees in 'Wardfort' city.

In [ ]:
wardfort = df.query('Employee_City == "Wardfort"')
company = wardfort['Company_Name'].value_counts()
company.idxmax()

'White, Mcclain and Cobb'

### 57. Change the Data type of 'Employee_Salary' column to float.

In [ ]:
df['Employee_Salary'].astype('float')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Name                300000 non-null  object
 1   Company_Name        300000 non-null  object
 2   Employee_Job_Title  300000 non-null  object
 3   Employee_City       300000 non-null  object
 4   Employee_Country    300000 non-null  object
 5   Employee_Salary     300000 non-null  int64
 6   Employment_Status   300000 non-null  object
 7   Employee_Rating     300000 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 18.3+ MB

### 58. Print the Employee_City with the most number of 'Production engineer'.

In [ ]:
production_engineer = df.query('Employee_Job_Title == "Production engineer"')
production_engineer['Employee_City'].value_counts().idxmax()

'Aliciafort'

### 60. Print the Company_Name with the highest average 'Employee_Rating'.

In [ ]:
Company_Name = df.groupby('Company_Name')['Employee_Rating'].mean()
Company_Name.idxmax()

'Matthews Inc'

### 61. Print the number of employees working in 'Ricardomouth' and 'Kristaburgh' location combined.

In [ ]:
df.query("Employee_City in ['Ricardomouth','Kristaburgh']")

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
5,Vanessa Allen,Andrade LLC,Make,Ricardomouth,Mali,850140,Full Time,2.6
7,Vicki Beard,Matthews Inc,Diplomatic Services operational officer,Kristaburgh,Western Sahara,777000,Full Time,3.3
11,Timothy Johnson,"Baker, Allen and Edwards",Regulatory affairs officer,Ricardomouth,Georgia,503610,Full Time,2.9
15,David Massey,"Johnston, Fleming and Tanner","Radiographer, therapeutic",Ricardomouth,Somalia,581490,Intern,3.7
22,Carlos Lindsey,Nichols-James,Patent examiner,Kristaburgh,Jersey,629640,Intern,0.3
...,...,...,...,...,...,...,...,...
299948,Amy Martinez,"Campos, Reynolds and Mccormick",Naval architect,Ricardomouth,Bosnia and Herzegovina,476650,Full Time,3.9
299950,Stacey Hart,Matthews Inc,Armed forces logistics/support/administrative ...,Ricardomouth,Pakistan,743730,Full Time,3.1
299956,Leah Miller,Thomas-Spencer,Ergonomist,Kristaburgh,Cameroon,765320,Full Time,1.8
299960,Alexander Kaufman,"Johnston, Fleming and Tanner",Diplomatic Services operational officer,Ricardomouth,Congo,729070,Full Time,1.0
299969,Jennifer Navarro,"Johnston, Fleming and Tanner","Investment banker, corporate",Kristaburgh,Nauru,472090,Full Time,4.3

### 62. Print the distinct Company_Name corresponding to the 5 highest paid employees in the dataset.

In [ ]:
df.sort_values('Employee_Salary', ascending = False).head()['Company_Name'].unique()

array(['Taylor-Ramos', 'Thomas-Spencer', 'White, Mcclain and Cobb',
       'Campos, Reynolds and Mccormick'], dtype=object)

### 63. Check if there are any duplicate rows in the DataFrame.

In [ ]:
df[df.duplicated() == True]

Empty DataFrame
Columns: [Name, Company_Name, Employee_Job_Title, Employee_City, Employee_Country, Employee_Salary, Employment_Status, Employee_Rating]
Index: []

### 64. Check if any of the columns has NaN values.

In [ ]:
df.isna().sum()

Name                  0
Company_Name          0
Employee_Job_Title    0
Employee_City         0
Employee_Country      0
Employee_Salary       0
Employment_Status     0
Employee_Rating       0
dtype: int64

### 65. Print the data type of every column in the DataFrame.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Name                300000 non-null  object
 1   Company_Name        300000 non-null  object
 2   Employee_Job_Title  300000 non-null  object
 3   Employee_City       300000 non-null  object
 4   Employee_Country    300000 non-null  object
 5   Employee_Salary     300000 non-null  int64
 6   Employment_Status   300000 non-null  object
 7   Employee_Rating     300000 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 18.3+ MB

### 66. Print the Company_Name column only as a Series

In [ ]:
df['Company_Name']

0                       James and Sons
1                        Nichols-James
2                            Scott Inc
3         Johnston, Fleming and Tanner
4             Baker, Allen and Edwards
                      ...
299995                Bullock-Carrillo
299996    Johnston, Fleming and Tanner
299997                   Nichols-James
299998                   Nichols-James
299999                  James and Sons
Name: Company_Name, Length: 300000, dtype: object

### 67. Print the Company_Name column only as a DataFrame

In [ ]:
df[['Company_Name']]

                        Company_Name
0                     James and Sons
1                      Nichols-James
2                          Scott Inc
3       Johnston, Fleming and Tanner
4           Baker, Allen and Edwards
...                              ...
299995              Bullock-Carrillo
299996  Johnston, Fleming and Tanner
299997                 Nichols-James
299998                 Nichols-James
299999                James and Sons

[300000 rows x 1 columns]

### 68. Select the 'Employee_Job_Title' and 'Employee_City' column.

In [ ]:
df[['Employee_Job_Title', 'Employee_City']]

                             Employee_Job_Title      Employee_City
0                               Equities trader     New Russellton
1       Diplomatic Services operational officer  North Melissafurt
2                    Regulatory affairs officer           Wardfort
3                           Production engineer     West Jamesview
4                           Production engineer          Whiteside
...                                         ...                ...
299995                              Optometrist  North Melissafurt
299996                            Administrator         Aliciafort
299997                            Administrator   New Cindychester
299998                                     Make       Whitakerbury
299999                                  Actuary     New Russellton

[300000 rows x 2 columns]

### 69. Print the number of employees with Employee_Rating greater than the average Employee_Rating

In [ ]:
average_rating = df['Employee_Rating'].mean()
len(df[df['Employee_Rating'] > average_rating])

147548

### 74. Print the first 5 rows of the first 5 columns.

In [ ]:
df.iloc[:5,:5]

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica

### 76. Print the number of employees whose first name starts with the letter 'V'.

In [ ]:
len(df[df['Name'].str.startswith('V')])

3683

### 77. Print the number of employees whose last name starts with the letter 'R'.

In [ ]:
df['Last_Name'] = df['Name'].str.split().str[-1]
df[df['Last_Name'].str.startswith('R')]

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Last_Name
17,Gail Rose,Thomas-Spencer,Patent examiner,Whitakerbury,Finland,178570,Full Time,1.9,Rose
26,Donna Rodriguez,Thomas-Spencer,Sales promotion account executive,Whiteside,Guam,622920,Full Time,2.8,Rodriguez
28,Kim Reynolds,Marshall-Holloway,Actuary,West Jamesview,Faroe Islands,794450,Full Time,1.4,Reynolds
39,Jessica Reyes,Thomas-Spencer,Garment/textile technologist,Kristaburgh,Botswana,667490,Full Time,0.7,Reyes
55,Amanda Roth,Taylor-Ramos,Administrator,North Melissafurt,Macedonia,437720,Full Time,0.7,Roth
...,...,...,...,...,...,...,...,...,...
299902,Michelle Reynolds,Marshall-Holloway,Make,Wardfort,El Salvador,105680,Full Time,4.8,Reynolds
299905,Sandra Riley,"Wallace, Smith and Shepard",Energy manager,Whiteside,Northern Mariana Islands,34760,Full Time,2.0,Riley
299964,Joshua Rodriguez,Andrade LLC,Trading standards officer,New Cindychester,Sierra Leone,118300,Full Time,1.1,Rodriguez
299967,James Rhodes,Matthews Inc,Production engineer,New Cindychester,Honduras,386610,Full Time,1.4,Rhodes
299991,William Rodriguez,Scott Inc,Ergonomist,Whiteside,New Zealand,214400,Full Time,1.5,Rodriguez

### 78. Select the rows 2 to 7 and the columns 3 to 7 (both included)

In [ ]:
df.iloc[2:8,3:8]

,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
2,Wardfort,Anguilla,630890,Full Time,3.1
3,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Whiteside,Dominica,523499,Full Time,4.8
5,Ricardomouth,Mali,850140,Full Time,2.6
6,Wardfort,Aruba,711410,Full Time,2.0
7,Kristaburgh,Western Sahara,777000,Full Time,3.3

### 79. Select every row after the 10th row and select all columns.

In [ ]:
df.iloc[10:]

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating,Last_Name
10,Victoria Sutton,"White, Mcclain and Cobb",Naval architect,Whiteside,Poland,656260,Full Time,4.9,Sutton
11,Timothy Johnson,"Baker, Allen and Edwards",Regulatory affairs officer,Ricardomouth,Georgia,503610,Full Time,2.9,Johnson
12,Tiffany Galvan,"Campos, Reynolds and Mccormick",Diplomatic Services operational officer,West Jamesview,Niger,786430,Intern,3.6,Galvan
13,David Duran,Nichols-James,"Investment banker, corporate",New Russellton,Georgia,910210,Full Time,4.9,Duran
14,Julie Cook,Matthews Inc,Equities trader,New Russellton,Puerto Rico,328860,Full Time,4.8,Cook
...,...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3,Neal
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6,Butler
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6,Wilson
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4,Keith
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3,Delgado

### 83. Print the name of the company with the maximum employees having rating > 4.

In [ ]:
df[df['Employee_Rating'] > 4]['Company_Name'].value_counts().idxmax()

'Matthews Inc'

### 88. Which is the most common first name in the dataframe?

In [ ]:
df['First_Name'] = df['Name'].str.split().str[0]
df['First_Name'].value_counts().idxmax()

'Michael'

### 90. What is the average name length?

In [ ]:
df['Name_Length'] = df['Name'].str.len()
df['Name_Length'].mean()

13.1079

# Pandas Notebook 3

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("employee_dataset.csv")

### 91. What is the ratio of total full-time employees to Interns?

In [ ]:
len(df[df['Employment_Status'] == 'Full Time']) / len(df[df['Employment_Status'] == 'Intern'])

4.0008334722453744

### 92. Starting from the first record, print every third record in the DataFrame.

Print 1st row, then 4th, 7th, 10th, and so on...

In [ ]:
df.iloc[::3]

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
6,Kelly Brown,Andrade LLC,Naval architect,Wardfort,Aruba,711410,Full Time,2.0
9,Michael Edwards,"Campos, Reynolds and Mccormick",Ergonomist,New Cindychester,Lao People's Democratic Republic,516950,Full Time,2.3
12,Tiffany Galvan,"Campos, Reynolds and Mccormick",Diplomatic Services operational officer,West Jamesview,Niger,786430,Intern,3.6
...,...,...,...,...,...,...,...,...
299985,Chase Stevens,Nelson-Li,Energy manager,Whitakerbury,Northern Mariana Islands,590590,Full Time,2.6
299988,Kenneth Hurley,Scott Inc,Make,New Russellton,Russian Federation,211180,Full Time,3.9
299991,William Rodriguez,Scott Inc,Ergonomist,Whiteside,New Zealand,214400,Full Time,1.5
299994,Kelly Bennett,"White, Mcclain and Cobb","Radiographer, therapeutic",Wardfort,Fiji,182270,Full Time,3.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6

### 93. Find the average salary for every company.

In [ ]:
df.groupby('Company_Name')['Employee_Salary'].mean()

Company_Name
Andrade LLC                       497237.159385
Baker, Allen and Edwards          498032.358445
Bullock-Carrillo                  499603.804865
Campos, Reynolds and Mccormick    503528.982687
James and Sons                    503581.015754
Johnston, Fleming and Tanner      500579.128010
Marshall-Holloway                 502314.169445
Matthews Inc                      501640.159488
Nelson-Li                         500569.824558
Nichols-James                     497881.232334
Scott Inc                         500491.809024
Taylor-Ramos                      498747.292516
Thomas-Spencer                    499350.850164
Wallace, Smith and Shepard        500807.608810
White, Mcclain and Cobb           499083.493806
Name: Employee_Salary, dtype: float64

### 95. Find the average salary and average rating for every company in a single line.

In [ ]:
df.groupby('Company_Name').mean()

<ipython-input-317-299b181b1bf4>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Company_Name').mean()

                                Employee_Salary  Employee_Rating
Company_Name
Andrade LLC                       497237.159385         2.498218
Baker, Allen and Edwards          498032.358445         2.504795
Bullock-Carrillo                  499603.804865         2.502014
Campos, Reynolds and Mccormick    503528.982687         2.506288
James and Sons                    503581.015754         2.505023
Johnston, Fleming and Tanner      500579.128010         2.513159
Marshall-Holloway                 502314.169445         2.504900
Matthews Inc                      501640.159488         2.525454
Nelson-Li                         500569.824558         2.504649
Nichols-James                     497881.232334         2.488554
Scott Inc                         500491.809024         2.515993
Taylor-Ramos                      498747.292516         2.513150
Thomas-Spencer                    499350.850164         2.505114
Wallace, Smith and Shepard        500807.608810         2.497402
White, Mcclain and Cobb           499083.493806         2.504047

### 96. Find the number of unique Employee_City corresponding to every Company_Name.

In [ ]:
df.groupby('Company_Name')['Employee_City'].nunique()

Company_Name
Andrade LLC                       10
Baker, Allen and Edwards          10
Bullock-Carrillo                  10
Campos, Reynolds and Mccormick    10
James and Sons                    10
Johnston, Fleming and Tanner      10
Marshall-Holloway                 10
Matthews Inc                      10
Nelson-Li                         10
Nichols-James                     10
Scott Inc                         10
Taylor-Ramos                      10
Thomas-Spencer                    10
Wallace, Smith and Shepard        10
White, Mcclain and Cobb           10
Name: Employee_City, dtype: int64

### 98. Print the number of full-time and intern employees for every company

In [ ]:
df.groupby('Company_Name')['Employment_Status'].value_counts()

Company_Name                    Employment_Status
Andrade LLC                     Full Time            15964
                                Intern                4019
Baker, Allen and Edwards        Full Time            16118
                                Intern                3966
Bullock-Carrillo                Full Time            16135
                                Intern                3928
Campos, Reynolds and Mccormick  Full Time            15930
                                Intern                3997
James and Sons                  Full Time            15888
                                Intern                3980
Johnston, Fleming and Tanner    Full Time            15832
                                Intern                3979
Marshall-Holloway               Full Time            15871
                                Intern                3988
Matthews Inc                    Full Time            16082
                                Intern                4001
Nelson-Li                       Full Time            16027
                                Intern                4105
Nichols-James                   Full Time            15872
                                Intern                4039
Scott Inc                       Full Time            16396
                                Intern                3994
Taylor-Ramos                    Full Time            16086
                                Intern                4036
Thomas-Spencer                  Full Time            16037
                                Intern                4105
Wallace, Smith and Shepard      Full Time            15467
                                Intern                3897
White, Mcclain and Cobb         Full Time            16305
                                Intern                3956
Name: Employment_Status, dtype: int64

### 99. Print the job title with the most employees.

In [ ]:
df['Employee_Job_Title'].value_counts().idxmax()

'Diplomatic Services operational officer'

### 107. Check if the substring 'Michael Edward' appears in the Name column or not.

In [ ]:
df[df['Name'].str.contains('Michael Edward')]

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
9,Michael Edwards,"Campos, Reynolds and Mccormick",Ergonomist,New Cindychester,Lao People's Democratic Republic,516950,Full Time,2.3
5255,Michael Edwards,"Johnston, Fleming and Tanner",Regulatory affairs officer,West Jamesview,Brazil,822420,Intern,3.5
18849,Michael Edwards,"White, Mcclain and Cobb",Armed forces logistics/support/administrative ...,Whiteside,Croatia,818710,Full Time,2.8
25616,Michael Edwards,Bullock-Carrillo,Trading standards officer,Wardfort,Greenland,467160,Intern,2.1
31519,Michael Edwards,Nelson-Li,Patent examiner,Whiteside,Kuwait,287350,Full Time,1.8
112668,Michael Edwards,Scott Inc,Equities trader,West Jamesview,Northern Mariana Islands,21540,Full Time,1.5
114386,Michael Edwards,Nichols-James,Patent examiner,Whitakerbury,Iceland,687630,Intern,2.1
124065,Michael Edwards,"White, Mcclain and Cobb",Diplomatic Services operational officer,Ricardomouth,Central African Republic,546870,Full Time,1.4
135078,Michael Edwards,Matthews Inc,Patent examiner,Wardfort,Grenada,209030,Full Time,2.2
149363,Michael Edwards,Scott Inc,Diplomatic Services operational officer,Wardfort,Chile,254160,Intern,1.2
158104,Michael Edwards,"Wallace, Smith and Shepard",Regulatory affairs officer,New Russellton,Angola,121770,Full Time,1.1
191831,Michael Edwards,"Wallace, Smith and Shepard",Trading standards officer,Aliciafort,Israel,854420,Full Time,4.8
193911,Michael Edwards,"Baker, Allen and Edwards","Investment banker, corporate",New Cindychester,Lesotho,365180,Full Time,1.8
205550,Michael Edwards,"Johnston, Fleming and Tanner",Patent examiner,Wardfort,Belgium,579130,Intern,4.7
210504,Michael Edwards,"White, Mcclain and Cobb",Ergonomist,Whiteside,Philippines,150730,Full Time,3.2
217498,Michael Edwards,"Johnston, Fleming and Tanner",Actuary,Wardfort,Trinidad and Tobago,600090,Full Time,0.8
217970,Michael Edwards,Bullock-Carrillo,Equities trader,West Jamesview,Slovakia (Slovak Republic),698220,Full Time,0.7
227767,Michael Edwards,Marshall-Holloway,Armed forces logistics/support/administrative ...,North Melissafurt,Ghana,565940,Intern,4.4
229786,Michael Edwards,Scott Inc,Diplomatic Services operational officer,Whitakerbury,Turks and Caicos Islands,105450,Intern,2.6
267189,Michael Edwards,James and Sons,Make,Ricardomouth,Paraguay,391700,Intern,1.4
276731,Michael Edwards,"Campos, Reynolds and Mccormick",Armed forces logistics/support/administrative ...,North Melissafurt,Serbia,865280,Intern,0.7
282601,Michael Edwards,"White, Mcclain and Cobb",Naval architect,Wardfort,Cambodia,855180,Intern,4.7
287887,Michael Edwards,Scott Inc,"Investment banker, corporate",Aliciafort,Belize,69680,Intern,1.9
298857,Michael Edwards,"White, Mcclain and Cobb",Make,New Cindychester,Macao,318800,Full Time,3.6

### 110. Print the number of records whose company name contains the substring 'LL' (case-insensitive).

In [ ]:
df[df['Company_Name'].str.contains('LL', case = False)]

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
5,Vanessa Allen,Andrade LLC,Make,Ricardomouth,Mali,850140,Full Time,2.6
6,Kelly Brown,Andrade LLC,Naval architect,Wardfort,Aruba,711410,Full Time,2.0
11,Timothy Johnson,"Baker, Allen and Edwards",Regulatory affairs officer,Ricardomouth,Georgia,503610,Full Time,2.9
18,Carrie Woods,Bullock-Carrillo,Ergonomist,New Russellton,Gabon,985290,Full Time,2.4
...,...,...,...,...,...,...,...,...
299977,Anthony Hughes,Bullock-Carrillo,Sales promotion account executive,Whitakerbury,Georgia,464910,Full Time,4.1
299986,Chelsea Lee,Andrade LLC,"Investment banker, corporate",Wardfort,Switzerland,88410,Full Time,4.4
299990,Monica Bender,"Wallace, Smith and Shepard",Production engineer,New Cindychester,Bangladesh,852660,Full Time,3.0
299992,Steven Thornton,"Baker, Allen and Edwards",Patent examiner,Aliciafort,Benin,60240,Full Time,4.3
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3

### 111. Select the first row corresponding to every company in the dataframe

In [ ]:
df.groupby('Company_Name').first()
#first(), last(), nth()

,Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
Company_Name,,,,,,,
Andrade LLC,Vanessa Allen,Make,Ricardomouth,Mali,850140,Full Time,2.6
"Baker, Allen and Edwards",Theresa Owens,Production engineer,Whiteside,Dominica,523499,Full Time,4.8
Bullock-Carrillo,Carrie Woods,Ergonomist,New Russellton,Gabon,985290,Full Time,2.4
"Campos, Reynolds and Mccormick",Michael Edwards,Ergonomist,New Cindychester,Lao People's Democratic Republic,516950,Full Time,2.3
James and Sons,Spencer Adkins,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
"Johnston, Fleming and Tanner",Brad Scott,Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
Marshall-Holloway,David Phillips,"Radiographer, therapeutic",Kristaburgh,British Virgin Islands,58800,Full Time,0.6
Matthews Inc,Vicki Beard,Diplomatic Services operational officer,Kristaburgh,Western Sahara,777000,Full Time,3.3
Nelson-Li,Micheal Fitzgerald,Diplomatic Services operational officer,Whitakerbury,Switzerland,796690,Full Time,4.1
Nichols-James,Julie Morton,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
Scott Inc,Matthew Hall,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
Taylor-Ramos,Lisa French,"Radiographer, therapeutic",West Jamesview,Kuwait,870580,Full Time,1.3
Thomas-Spencer,Gail Rose,Patent examiner,Whitakerbury,Finland,178570,Full Time,1.9
"Wallace, Smith and Shepard",Ronald Clark,Regulatory affairs officer,North Melissafurt,Palau,914110,Full Time,3.2
"White, Mcclain and Cobb",Victoria Sutton,Naval architect,Whiteside,Poland,656260,Full Time,4.9

### 113. Reset the index of the dataframe inplace and delete the older index values.

In [ ]:
df.reset_index(drop=True)

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3

### 115-1) Add a new row at the bottom of the DataFrame.

In [ ]:
new_row = {'Name' : 'Chris Anders', 'Company_Name' : 'Scott Inc',
           'Employee_Job_Title' : 'Production engineer', 'Employee_City' : 'Wardfort',
           'Employee_Country' : 'Anguilla', 'Employee_Salary' : 343930,
           'Employment_Status' : 'Full Time', 'Employee_Rating' : 3.3}

df.append(new_row, ignore_index = True)

<ipython-input-325-4417bb746c1f>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(new_row, ignore_index = True)

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
...,...,...,...,...,...,...,...,...
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4
299999,Karen Delgado,James and Sons,Actuary,New Russellton,United Kingdom,575770,Intern,3.3
300000,Chris Anders,Scott Inc,Production engineer,Wardfort,Anguilla,343930,Full Time,3.3

### 115-2) Delete the row that was just newly added.

In [ ]:
df.drop(df.index[-1])

,Name,Company_Name,Employee_Job_Title,Employee_City,Employee_Country,Employee_Salary,Employment_Status,Employee_Rating
0,Spencer Adkins,James and Sons,Equities trader,New Russellton,Palestinian Territory,321520,Full Time,3.9
1,Julie Morton,Nichols-James,Diplomatic Services operational officer,North Melissafurt,Marshall Islands,589090,Full Time,4.3
2,Matthew Hall,Scott Inc,Regulatory affairs officer,Wardfort,Anguilla,630890,Full Time,3.1
3,Brad Scott,"Johnston, Fleming and Tanner",Production engineer,West Jamesview,Syrian Arab Republic,116400,Full Time,3.1
4,Theresa Owens,"Baker, Allen and Edwards",Production engineer,Whiteside,Dominica,523499,Full Time,4.8
...,...,...,...,...,...,...,...,...
299994,Kelly Bennett,"White, Mcclain and Cobb","Radiographer, therapeutic",Wardfort,Fiji,182270,Full Time,3.6
299995,Nancy Neal,Bullock-Carrillo,Optometrist,North Melissafurt,Samoa,99670,Intern,3.3
299996,Michele Butler,"Johnston, Fleming and Tanner",Administrator,Aliciafort,Cuba,949580,Intern,2.6
299997,Lynn Wilson,Nichols-James,Administrator,New Cindychester,Bolivia,802830,Full Time,0.6
299998,Lindsey Keith,Nichols-James,Make,Whitakerbury,Western Sahara,257240,Full Time,2.4

### 117. Add a new column "Employee_Rating_New" which should be as follows:

Employee_Rating_New = max(1.5, 2*Employee_Rating - 3)

In [ ]:
df['Employee_Rating_New'] = df['Employee_Rating'].apply(lambda x: max(1.5, 2 * x - 3))

### 118. Convert the entire DataFrame to a list of lists. Do NOT overwrite to the current dataframe object.

In [ ]:
df_list = df.values.tolist()

In [ ]:
df_list

[['Spencer Adkins',
  'James and Sons',
  'Equities trader',
  'New Russellton',
  'Palestinian Territory',
  321520,
  'Full Time',
  3.9,
  4.8],
 ['Julie Morton',
  'Nichols-James',
  'Diplomatic Services operational officer',
  'North Melissafurt',
  'Marshall Islands',
  589090,
  'Full Time',
  4.3,
  5.6],
 ['Matthew Hall',
  'Scott Inc',
  'Regulatory affairs officer',
  'Wardfort',
  'Anguilla',
  630890,
  'Full Time',
  3.1,
  3.2],
 ['Brad Scott',
  'Johnston, Fleming and Tanner',
  'Production engineer',
  'West Jamesview',
  'Syrian Arab Republic',
  116400,
  'Full Time',
  3.1,
  3.2],
 ['Theresa Owens',
  'Baker, Allen and Edwards',
  'Production engineer',
  'Whiteside',
  'Dominica',
  523499,
  'Full Time',
  4.8,
  6.6],
 ['Vanessa Allen',
  'Andrade LLC',
  'Make',
  'Ricardomouth',
  'Mali',
  850140,
  'Full Time',
  2.6,
  2.2],
 ['Kelly Brown',
  'Andrade LLC',
  'Naval architect',
  'Wardfort',
  'Aruba',
  711410,
  'Full Time',
  2.0,
  1.5],
 ['Vicki Beard',
  'Matthews Inc',
  'Diplomatic Services operational officer',
  'Kristaburgh',
  'Western Sahara',
  777000,
  'Full Time',
  3.3,
  3.5999999999999996],
 ['Lisa French',
  'Taylor-Ramos',
  'Radiographer, therapeutic',
  'West Jamesview',
  'Kuwait',
  870580,
  'Full Time',
  1.3,
  1.5],
 ['Michael Edwards',
  'Campos, Reynolds and Mccormick',
  'Ergonomist',
  'New Cindychester',
  "Lao People's Democratic Republic",
  516950,
  'Full Time',
  2.3,
  1.5999999999999996],
 ['Victoria Sutton',
  'White, Mcclain and Cobb',
  'Naval architect',
  'Whiteside',
  'Poland',
  656260,
  'Full Time',
  4.9,
  6.800000000000001],
 ['Timothy Johnson',
  'Baker, Allen and Edwards',
  'Regulatory affairs officer',
  'Ricardomouth',
  'Georgia',
  503610,
  'Full Time',
  2.9,
  2.8],
 ['Tiffany Galvan',
  'Campos, Reynolds and Mccormick',
  'Diplomatic Services operational officer',
  'West Jamesview',
  'Niger',
  786430,
  'Intern',
  3.6,
  4.2],
 ['David Duran',
  'Nichols-James',
  'Investment banker, corporate',
  'New Russellton',
  'Georgia',
  910210,
  'Full Time',
  4.9,
  6.800000000000001],
 ['Julie Cook',
  'Matthews Inc',
  'Equities trader',
  'New Russellton',
  'Puerto Rico',
  328860,
  'Full Time',
  4.8,
  6.6],
 ['David Massey',
  'Johnston, Fleming and Tanner',
  'Radiographer, therapeutic',
  'Ricardomouth',
  'Somalia',
  581490,
  'Intern',
  3.7,
  4.4],
 ['Taylor Summers',
  'Campos, Reynolds and Mccormick',
  'Naval architect',
  'North Melissafurt',
  'Falkland Islands (Malvinas)',
  280650,
  'Full Time',
  4.2,
  5.4],
 ['Gail Rose',
  'Thomas-Spencer',
  'Patent examiner',
  'Whitakerbury',
  'Finland',
  178570,
  'Full Time',
  1.9,
  1.5],
 ['Carrie Woods',
  'Bullock-Carrillo',
  'Ergonomist',
  'New Russellton',
  'Gabon',
  985290,
  'Full Time',
  2.4,
  1.7999999999999998],
 ['Christopher Kim',
  'Thomas-Spencer',
  'Garment/textile technologist',
  'New Russellton',
  'Serbia',
  242300,
  'Intern',
  1.6,
  1.5],
 ['Brian Swanson',
  'Andrade LLC',
  'Regulatory affairs officer',
  'Aliciafort',
  'Libyan Arab Jamahiriya',
  262670,
  'Full Time',
  2.2,
  1.5],
 ['Ashley Hess',
  'Taylor-Ramos',
  'Investment banker, corporate',
  'Wardfort',
  'Netherlands',
  2990,
  'Intern',
  1.5,
  1.5],
 ['Carlos Lindsey',
  'Nichols-James',
  'Patent examiner',
  'Kristaburgh',
  'Jersey',
  629640,
  'Intern',
  0.3,
  1.5],
 ['Daniel Medina',
  'Matthews Inc',
  'Regulatory affairs officer',
  'Aliciafort',
  'Antarctica (the territory South of 60 deg S)',
  511650,
  'Intern',
  3.2,
  3.4000000000000004],
 ['Michael Williams',
  'Johnston, Fleming and Tanner',
  'Regulatory affairs officer',
  'Wardfort',
  'Malawi',
  705500,
  'Intern',
  0.7,
  1.5],
 ['David Phillips',
  'Marshall-Holloway',
  'Radiographer, therapeutic',
  'Kristaburgh',
  'British Virgin Islands',
  58800,
  'Full Time',
  0.6,
  1.5],
 ['Donna Rodriguez',
  'Thomas-Spencer',
  'Sales promotion account executive',
  'Whiteside',
  'Guam',
  622920,
  'Full Time',
  2.8,
  2.5999999999999996],
 ['Courtney Cherry',
  'Matthews Inc',
  'Sales promotion account executive',
  'Wardfort',
  'Puerto Rico',
  388970,
  'Full Time',
  4.3,
  5.6],
 ['Kim Reynolds',
  'Marshall-Holloway',
  'Actuary',
  'West Jamesview',
  'Faroe Islands',
  794450,
  'Full Time',
  1.4,
  1.5],
 ['Rodney Little',
  'James and Sons',
  'Armed forces logistics/support/administrative officer',
  'West Jamesview',
  'Indonesia',
  846180,
  'Full Time',
  1.8,
  1.5],
 ['Melissa Wood',
  'Thomas-Spencer',
  'Administrator',
  'New Russellton',
  'France',
  836160,
  'Full Time',
  3.9,
  4.8],
 ['Antonio Gomez',
  'Marshall-Holloway',
  'Radiographer, therapeutic',
  'Wardfort',
  'Anguilla',
  904930,
  'Intern',
  1.3,
  1.5],
 ['Gary Jackson',
  'Bullock-Carrillo',
  'Production engineer',
  'Aliciafort',
  'Macedonia',
  141250,
  'Full Time',
  0.0,
  1.5],
 ['Selena Moyer',
  'Baker, Allen and Edwards',
  'Trading standards officer',
  'North Melissafurt',
  'Belize',
  234370,
  'Full Time',
  0.4,
  1.5],
 ['Sherry Charles',
  'Scott Inc',
  'Garment/textile technologist',
  'West Jamesview',
  'El Salvador',
  787030,
  'Full Time',
  0.9,
  1.5],
 ['Kevin Flores',
  'Scott Inc',
  'Radiographer, therapeutic',
  'New Cindychester',
  'Congo',
  421860,
  'Full Time',
  1.3,
  1.5],
 ['James Cole',
  'Campos, Reynolds and Mccormick',
  'Radiographer, therapeutic',
  'Wardfort',
  'Norfolk Island',
  654770,
  'Full Time',
  0.0,
  1.5],
 ['Deborah Cantu',
  'Taylor-Ramos',
  'Production engineer',
  'New Russellton',
  'Kiribati',
  92600,
  'Full Time',
  3.7,
  4.4],
 ['Victor Miller',
  'Thomas-Spencer',
  'Patent examiner',
  'New Russellton',
  'France',
  560730,
  'Full Time',
  3.1,
  3.2],
 ['Jessica Reyes',
  'Thomas-Spencer',
  'Garment/textile technologist',
  'Kristaburgh',
  'Botswana',
  667490,
  'Full Time',
  0.7,
  1.5],
 ['Steven Cole',
  'Marshall-Holloway',
  'Retail merchandiser',
  'Kristaburgh',
  'Nicaragua',
  981230,
  'Full Time',
  3.6,
  4.2],
 ['Cassie Murray',
  'Scott Inc',
  'Retail merchandiser',
  'West Jamesview',
  'Poland',
  200500,
  'Full Time',
  3.7,
  4.4],
 ['Nancy Wright',
  'Johnston, Fleming and Tanner',
  'Actuary',
  'Ricardomouth',
  'Palau',
  916600,
  'Full Time',
  0.7,
  1.5],
 ['Hannah Taylor',
  'Campos, Reynolds and Mccormick',
  'Ergonomist',
  'Whiteside',
  'Western Sahara',
  251230,
  'Intern',
  3.3,
  3.5999999999999996],
 ['Kathleen Franco',
  'Johnston, Fleming and Tanner',
  'Diplomatic Services operational officer',
  'Ricardomouth',
  'Bolivia',
  185270,
  'Full Time',
  3.1,
  3.2],
 ['Ronald Clark',
  'Wallace, Smith and Shepard',
  'Regulatory affairs officer',
  'North Melissafurt',
  'Palau',
  914110,
  'Full Time',
  3.2,
  3.4000000000000004],
 ['Francis Carter',
  'Thomas-Spencer',
  'Diplomatic Services operational officer',
  'Whitakerbury',
  'Singapore',
  780840,
  'Full Time',
  0.0,
  1.5],
 ['Jessica Alvarado',
  'Taylor-Ramos',
  'Garment/textile technologist',
  'Whitakerbury',
  'Greenland',
  184410,
  'Full Time',
  4.1,
  5.199999999999999],
 ['Shannon Wiggins',
  'Bullock-Carrillo',
  'Investment banker, corporate',
  'Whiteside',
  'Suriname',
  880350,
  'Full Time',
  0.6,
  1.5],
 ['Gerald Santiago',
  'Thomas-Spencer',
  'Garment/textile technologist',
  'Kristaburgh',
  'El Salvador',
  873320,
  'Full Time',
  4.7,
  6.4],
 ['Ralph Taylor',
  'James and Sons',
  'Retail merchandiser',
  'Ricardomouth',
  'Tuvalu',
  482270,
  'Intern',
  1.9,
  1.5],
 ['Katherine Carr',
  'Baker, Allen and Edwards',
  'Optometrist',
  'New Russellton',
  'Estonia',
  610870,
  'Full Time',
  0.8,
  1.5],
 ['Brian Scott',
  'Thomas-Spencer',
  'Energy manager',
  'Ricardomouth',
  'Portugal',
  616430,
  'Full Time',
  3.3,
  3.5999999999999996],
 ['Robert Kelly',
  'Wallace, Smith and Shepard',
  'Diplomatic Services operational officer',
  'Aliciafort',
  'Yemen',
  219120,
  'Full Time',
  2.3,
  1.5999999999999996],
 ['Sydney Suarez',
  'Matthews Inc',
  'Make',
  'Aliciafort',
  'American Samoa',
  720620,
  'Full Time',
  0.8,
  1.5],
 ['Amanda Roth',
  'Taylor-Ramos',
  'Administrator',
  'North Melissafurt',
  'Macedonia',
  437720,
  'Full Time',
  0.7,
  1.5],
 ['Gavin Wise',
  'Marshall-Holloway',
  'Regulatory affairs officer',
  'Whiteside',
  'Netherlands Antilles',
  624990,
  'Intern',
  3.1,
  3.2],
 ['Joseph Anderson',
  'Bullock-Carrillo',
  'Radiographer, therapeutic',
  'Kristaburgh',
  'Bhutan',
  402290,
  'Intern',
  3.3,
  3.5999999999999996],
 ['Robert Villanueva',
  'Bullock-Carrillo',
  'Make',
  'North Melissafurt',
  'Guyana',
  440700,
  'Full Time',
  4.4,
  5.800000000000001],
 ['Paul Cox',
  'Thomas-Spencer',
  'Armed forces logistics/support/administrative officer',
  'North Melissafurt',
  'France',
  598930,
  'Full Time',
  2.6,
  2.2],
 ['Jessica Stewart',
  'White, Mcclain and Cobb',
  'Equities trader',
  'Whitakerbury',
  'Kiribati',
  852150,
  'Intern',
  3.9,
  4.8],
 ['Micheal Fitzgerald',
  'Nelson-Li',
  'Diplomatic Services operational officer',
  'Whitakerbury',
  'Switzerland',
  796690,
  'Full Time',
  4.1,
  5.199999999999999],
 ['Thomas Wilson',
  'Matthews Inc',
  'Diplomatic Services operational officer',
  'Whiteside',
  'New Caledonia',
  244960,
  'Intern',
  3.4,
  3.8],
 ['George Davidson',
  'Marshall-Holloway',
  'Optometrist',
  'New Cindychester',
  'Zimbabwe',
  425390,
  'Full Time',
  2.3,
  1.5999999999999996],
 ['Nathan Santiago',
  'Taylor-Ramos',
  'Administrator',
  'Aliciafort',
  'Northern Mariana Islands',
  587780,
  'Intern',
  3.5,
  4.0],
 ['Timothy Flores',
  'White, Mcclain and Cobb',
  'Garment/textile technologist',
  'North Melissafurt',
  'Romania',
  894970,
  'Full Time',
  1.1,
  1.5],
 ['Chad Guerrero',
  'Baker, Allen and Edwards',
  'Ergonomist',
  'Aliciafort',
  'Congo',
  134810,
  'Full Time',
  4.9,
  6.800000000000001],
 ['Claudia Morrison',
  'Scott Inc',
  'Administrator',
  'Whiteside',
  'India',
  470350,
  'Full Time',
  4.8,
  6.6],
 ['Justin Mclean',
  'Nelson-Li',
  'Retail merchandiser',
  'Wardfort',
  'Chad',
  143410,
  'Full Time',
  3.1,
  3.2],
 ['Jonathan Armstrong',
  'Scott Inc',
  'Trading standards officer',
  'Aliciafort',
  'San Marino',
  902300,
  'Full Time',
  4.8,
  6.6],
 ['Jason Smith',
  'Scott Inc',
  'Trading standards officer',
  'Wardfort',
  'Mozambique',
  384980,
  'Full Time',
  1.4,
  1.5],
 ['Daniel Charles',
  'White, Mcclain and Cobb',
  'Actuary',
  'West Jamesview',
  'Sierra Leone',
  536990,
  'Intern',
  1.0,
  1.5],
 ['Jose Moore',
  'Bullock-Carrillo',
  'Diplomatic Services operational officer',
  'New Cindychester',
  'Montserrat',
  684110,
  'Full Time',
  0.8,
  1.5],
 ['Derrick Spencer',
  'Nelson-Li',
  'Sales promotion account executive',
  'Aliciafort',
  'Holy See (Vatican City State)',
  303900,
  'Full Time',
  1.5,
  1.5],
 ['Robert Humphrey',
  'Marshall-Holloway',
  'Patent examiner',
  'Whiteside',
  'Togo',
  190420,
  'Full Time',
  1.0,
  1.5],
 ['Michelle Estrada',
  'Thomas-Spencer',
  'Energy manager',
  'Ricardomouth',
  'Saint Pierre and Miquelon',
  721880,
  'Full Time',
  2.1,
  1.5],
 ['Michael Conway',
  'Nichols-James',
  'Radiographer, therapeutic',
  'Wardfort',
  'Bangladesh',
  187720,
  'Full Time',
  0.1,
  1.5],
 ['Lori Smith',
  'Thomas-Spencer',
  'Optometrist',
  'New Cindychester',
  'Venezuela',
  687310,
  'Full Time',
  4.8,
  6.6],
 ['Timothy Ramos',
  'Nelson-Li',
  'Equities trader',
  'West Jamesview',
  'Congo',
  219690,
  'Full Time',
  0.2,
  1.5],
 ['Bradley Montgomery',
  'Wallace, Smith and Shepard',
  'Regulatory affairs officer',
  'Whiteside',
  'Iraq',
  90650,
  'Full Time',
  1.8,
  1.5],
 ['Jonathan Howell',
  'Nichols-James',
  'Armed forces logistics/support/administrative officer',
  'Whitakerbury',
  'Aruba',
  711330,
  'Full Time',
  3.6,
  4.2],
 ['William Hughes',
  'Nichols-James',
  'Administrator',
  'New Cindychester',
  'Belarus',
  16340,
  'Full Time',
  1.0,
  1.5],
 ['Steven Costa',
  'Taylor-Ramos',
  'Energy manager',
  'Wardfort',
  'Albania',
  314470,
  'Full Time',
  3.6,
  4.2],
 ['Nancy Stephens',
  'Johnston, Fleming and Tanner',
  'Ergonomist',
  'Kristaburgh',
  'Taiwan',
  430620,
  'Full Time',
  2.9,
  2.8],
 ['Lauren Barton',
  'Baker, Allen and Edwards',
  'Make',
  'New Cindychester',
  'Pakistan',
  789140,
  'Full Time',
  2.2,
  1.5],
 ['Dawn Lewis',
  'Campos, Reynolds and Mccormick',
  'Optometrist',
  'Whitakerbury',
  'Suriname',
  270840,
  'Intern',
  2.2,
  1.5],
 ['Wanda Jones',
  'White, Mcclain and Cobb',
  'Regulatory affairs officer',
  'Kristaburgh',
  'Libyan Arab Jamahiriya',
  848140,
  'Intern',
  0.2,
  1.5],
 ['Brittany Graham',
  'Matthews Inc',
  'Diplomatic Services operational officer',
  'Kristaburgh',
  'Ethiopia',
  123700,
  'Full Time',
  2.3,
  1.5999999999999996],
 ['Julie Richard',
  'Bullock-Carrillo',
  'Naval architect',
  'Wardfort',
  'Burundi',
  222850,
  'Full Time',
  4.6,
  6.199999999999999],
 ['Janet Bridges',
  'Thomas-Spencer',
  'Optometrist',
  'Whitakerbury',
  'Wallis and Futuna',
  745150,
  'Full Time',
  1.1,
  1.5],
 ['Willie Anderson',
  'Andrade LLC',
  'Garment/textile technologist',
  'Kristaburgh',
  'Tuvalu',
  268320,
  'Full Time',
  0.2,
  1.5],
 ['Diamond Kent',
  'Wallace, Smith and Shepard',
  'Radiographer, therapeutic',
  'Aliciafort',
  'Zambia',
  538290,
  'Full Time',
  2.0,
  1.5],
 ['Kevin Miller',
  'Bullock-Carrillo',
  'Investment banker, corporate',
  'New Russellton',
  'Saint Pierre and Miquelon',
  493800,
  'Full Time',
  4.4,
  5.800000000000001],
 ['Sierra Brewer',
  'Thomas-Spencer',
  'Naval architect',
  'New Russellton',
  'Saint Pierre and Miquelon',
  127940,
  'Full Time',
  1.2,
  1.5],
 ['Natasha Harmon',
  'Matthews Inc',
  'Radiographer, therapeutic',
  'West Jamesview',
  'Bolivia',
  790000,
  'Full Time',
  4.7,
  6.4],
 ['Angela Stone',
  'Wallace, Smith and Shepard',
  'Actuary',
  'New Russellton',
  'Switzerland',
  313250,
  'Full Time',
  1.3,
  1.5],
 ['Anthony Weiss',
  'Scott Inc',
  'Armed forces logistics/support/administrative officer',
  'West Jamesview',
  'Guatemala',
  356220,
  'Full Time',
  1.8,
  1.5],
 ['Renee Benson',
  'Thomas-Spencer',
  'Investment banker, corporate',
  'Wardfort',
  'Thailand',
  171820,
  'Full Time',
  3.6,
  4.2],
 ['Elizabeth Clements',
  'Taylor-Ramos',
  'Administrator',
  'Whiteside',
  'Mauritania',
  827360,
  'Full Time',
  2.9,
  2.8],
 ['Jeanette Wang',
  'Baker, Allen and Edwards',
  'Actuary',
  'Whiteside',
  'New Zealand',
  339100,
  'Full Time',
  1.2,
  1.5],
 ['Tracy Maxwell',
  'Matthews Inc',
  'Sales promotion account executive',
  'New Russellton',
  'Oman',
  742410,
  'Full Time',
  0.5,
  1.5],
 ['James Alvarez',
  'Bullock-Carrillo',
  'Equities trader',
  'Kristaburgh',
  'Grenada',
  220440,
  'Intern',
  2.1,
  1.5],
 ['Stacy Smith',
  'Bullock-Carrillo',
  'Patent examiner',
  'Kristaburgh',
  'Israel',
  666680,
  'Full Time',
  0.0,
  1.5],
 ['Jennifer Daniels',
  'White, Mcclain and Cobb',
  'Equities trader',
  'West Jamesview',
  'Congo',
  130740,
  'Full Time',
  2.8,
  2.5999999999999996],
 ['Jose Thompson',
  'Scott Inc',
  'Actuary',
  'Whitakerbury',
  'Sweden',
  121110,
  'Intern',
  1.2,
  1.5],
 ['Mary Bailey',
  'Baker, Allen and Edwards',
  'Diplomatic Services operational officer',
  'Wardfort',
  'Sierra Leone',
  142620,
  'Intern',
  0.8,
  1.5],
 ['Susan Moses',
  'Johnston, Fleming and Tanner',
  'Make',
  'Aliciafort',
  "Cote d'Ivoire",
  196070,
  'Full Time',
  1.8,
  1.5],
 ['Kathryn Sweeney',
  'Campos, Reynolds and Mccormick',
  'Make',
  'New Russellton',
  'Madagascar',
  489190,
  'Intern',
  0.3,
  1.5],
 ['Frank Torres',
  'Campos, Reynolds and Mccormick',
  'Trading standards officer',
  'Whitakerbury',
  'Sierra Leone',
  693190,
  'Intern',
  2.9,
  2.8],
 ['James Wright',
  'Wallace, Smith and Shepard',
  'Energy manager',
  'Ricardomouth',
  'Chad',
  79790,
  'Full Time',
  3.1,
  3.2],
 ['Donald Nelson',
  'Campos, Reynolds and Mccormick',
  'Trading standards officer',
  'West Jamesview',
  'Estonia',
  37280,
  'Full Time',
  2.0,
  1.5],
 ['Daniel Adams',
  'Bullock-Carrillo',
  'Investment banker, corporate',
  'New Cindychester',
  'San Marino',
  339250,
  'Full Time',
  2.7,
  2.4000000000000004],
 ['Crystal Brown',
  'Johnston, Fleming and Tanner',
  'Garment/textile technologist',
  'Whitakerbury',
  'Romania',
  919880,
  'Full Time',
  4.5,
  6.0],
 ['Judy Roberts',
  'Campos, Reynolds and Mccormick',
  'Ergonomist',
  'Whitakerbury',
  'Northern Mariana Islands',
  45560,
  'Full Time',
  3.6,
  4.2],
 ['Jeremiah Kelly',
  'Scott Inc',
  'Make',
  'West Jamesview',
  'Anguilla',
  155360,
  'Intern',
  4.9,
  6.800000000000001],
 ['Gary Hernandez',
  'Taylor-Ramos',
  'Radiographer, therapeutic',
  'New Russellton',
  'Solomon Islands',
  888730,
  'Intern',
  2.5,
  2.0],
 ['Annette Saunders',
  'Marshall-Holloway',
  'Ergonomist',
  'New Cindychester',
  'Monaco',
  684380,
  'Full Time',
  2.6,
  2.2],
 ['Jacob Cunningham',
  'James and Sons',
  'Patent examiner',
  'Aliciafort',
  'Latvia',
  876760,
  'Intern',
  3.8,
  4.6],
 ['Stacey Ellison',
  'Baker, Allen and Edwards',
  'Radiographer, therapeutic',
  'West Jamesview',
  'Hungary',
  393820,
  'Full Time',
  3.5,
  4.0],
 ['Jason Parrish',
  'Andrade LLC',
  'Garment/textile technologist',
  'Aliciafort',
  "Cote d'Ivoire",
  581130,
  'Full Time',
  4.7,
  6.4],
 ['Pamela Martinez',
  'James and Sons',
  'Garment/textile technologist',
  'Whiteside',
  'Dominican Republic',
  587360,
  'Intern',
  3.6,
  4.2],
 ['Christine Harrison',
  'James and Sons',
  'Trading standards officer',
  'West Jamesview',
  'Namibia',
  684820,
  'Intern',
  1.1,
  1.5],
 ['Joanna Mclean',
  'Andrade LLC',
  'Actuary',
  'North Melissafurt',
  'Kuwait',
  108980,
  'Full Time',
  2.0,
  1.5],
 ['Kyle Rogers',
  'Baker, Allen and Edwards',
  'Patent examiner',
  'Whitakerbury',
  'Tuvalu',
  931250,
  'Full Time',
  1.1,
  1.5],
 ['Joshua Huffman',
  'James and Sons',
  'Garment/textile technologist',
  'New Russellton',
  'Cook Islands',
  694760,
  'Full Time',
  5.0,
  7.0],
 ['Michael Gonzalez',
  'Bullock-Carrillo',
  'Naval architect',
  'West Jamesview',
  'Sweden',
  302110,
  'Full Time',
  0.7,
  1.5],
 ['Michael Morgan',
  'Wallace, Smith and Shepard',
  'Investment banker, corporate',
  'Wardfort',
  'Saint Kitts and Nevis',
  178380,
  'Full Time',
  0.4,
  1.5],
 ['Matthew Wright',
  'Bullock-Carrillo',
  'Energy manager',
  'Whiteside',
  'El Salvador',
  626340,
  'Intern',
  2.3,
  1.5999999999999996],
 ['Courtney Schneider',
  'Nichols-James',
  'Regulatory affairs officer',
  'Whitakerbury',
  'Sri Lanka',
  750440,
  'Full Time',
  1.4,
  1.5],
 ['Connie Coleman',
  'Andrade LLC',
  'Optometrist',
  'Kristaburgh',
  'Indonesia',
  899260,
  'Full Time',
  4.7,
  6.4],
 ['Brandon Casey',
  'Wallace, Smith and Shepard',
  'Make',
  'New Cindychester',
  'Sudan',
  590560,
  'Intern',
  0.1,
  1.5],
 ['Tina Jenkins',
  'Scott Inc',
  'Investment banker, corporate',
  'North Melissafurt',
  'Malaysia',
  100420,
  'Full Time',
  4.1,
  5.199999999999999],
 ['Trevor Wilson',
  'Baker, Allen and Edwards',
  'Optometrist',
  'Aliciafort',
  'Andorra',
  661420,
  'Full Time',
  4.9,
  6.800000000000001],
 ['Morgan Shaw',
  'Matthews Inc',
  'Patent examiner',
  'Whiteside',
  'Egypt',
  523320,
  'Intern',
  3.3,
  3.5999999999999996],
 ['Angela Hatfield',
  'Campos, Reynolds and Mccormick',
  'Regulatory affairs officer',
  'Wardfort',
  'Turkey',
  989380,
  'Full Time',
  3.4,
  3.8],
 ['Alicia Bell',
  'Wallace, Smith and Shepard',
  'Investment banker, corporate',
  'Whitakerbury',
  'Martinique',
  832520,
  'Intern',
  2.5,
  2.0],
 ['Victor Sandoval',
  'Taylor-Ramos',
  'Diplomatic Services operational officer',
  'Kristaburgh',

### 120. Rearrange the columns in the below order. Overwrite to the current DataFrame object.

In [ ]:
new_order = ["Name", "Employee_Job_Title", "Company_Name",
             "Employee_City", "Employee_Country", "Employment_Status",
             "Employee_Salary", "Employee_Rating", "Employee_Rating_New"]

df = df[new_order]
df

,Name,Employee_Job_Title,Company_Name,Employee_City,Employee_Country,Employment_Status,Employee_Salary,Employee_Rating,Employee_Rating_New
0,Spencer Adkins,Equities trader,James and Sons,New Russellton,Palestinian Territory,Full Time,321520,3.9,4.8
1,Julie Morton,Diplomatic Services operational officer,Nichols-James,North Melissafurt,Marshall Islands,Full Time,589090,4.3,5.6
2,Matthew Hall,Regulatory affairs officer,Scott Inc,Wardfort,Anguilla,Full Time,630890,3.1,3.2
3,Brad Scott,Production engineer,"Johnston, Fleming and Tanner",West Jamesview,Syrian Arab Republic,Full Time,116400,3.1,3.2
4,Theresa Owens,Production engineer,"Baker, Allen and Edwards",Whiteside,Dominica,Full Time,523499,4.8,6.6
...,...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Optometrist,Bullock-Carrillo,North Melissafurt,Samoa,Intern,99670,3.3,3.6
299996,Michele Butler,Administrator,"Johnston, Fleming and Tanner",Aliciafort,Cuba,Intern,949580,2.6,2.2
299997,Lynn Wilson,Administrator,Nichols-James,New Cindychester,Bolivia,Full Time,802830,0.6,1.5
299998,Lindsey Keith,Make,Nichols-James,Whitakerbury,Western Sahara,Full Time,257240,2.4,1.8
299999,Karen Delgado,Actuary,James and Sons,New Russellton,United Kingdom,Intern,575770,3.3,3.6

### 123. Drop the 'Name' column inplace from the DataFrame.

In [ ]:
df.drop(columns = 'Name')

,Employee_Job_Title,Company_Name,Employee_City,Employee_Country,Employment_Status,Employee_Salary,Employee_Rating,Employee_Rating_New
0,Equities trader,James and Sons,New Russellton,Palestinian Territory,Full Time,321520,3.9,4.8
1,Diplomatic Services operational officer,Nichols-James,North Melissafurt,Marshall Islands,Full Time,589090,4.3,5.6
2,Regulatory affairs officer,Scott Inc,Wardfort,Anguilla,Full Time,630890,3.1,3.2
3,Production engineer,"Johnston, Fleming and Tanner",West Jamesview,Syrian Arab Republic,Full Time,116400,3.1,3.2
4,Production engineer,"Baker, Allen and Edwards",Whiteside,Dominica,Full Time,523499,4.8,6.6
...,...,...,...,...,...,...,...,...
299995,Optometrist,Bullock-Carrillo,North Melissafurt,Samoa,Intern,99670,3.3,3.6
299996,Administrator,"Johnston, Fleming and Tanner",Aliciafort,Cuba,Intern,949580,2.6,2.2
299997,Administrator,Nichols-James,New Cindychester,Bolivia,Full Time,802830,0.6,1.5
299998,Make,Nichols-James,Whitakerbury,Western Sahara,Full Time,257240,2.4,1.8
299999,Actuary,James and Sons,New Russellton,United Kingdom,Intern,575770,3.3,3.6

### 126. Rename the columns and store to a new DataFrame 'df_renamed':

1. Employee_Rating -> Rating
2. Employee_Country -> Country
3. Employee_Salary -> Salary
4. Employee_Rating_New -> Rating_New
5. Employment_Status -> Employment_type
6. Employment_City -> City

In [ ]:
df_renamed = df.rename(columns = {'Employee_Rating' : 'Rating', 'Employee_Country' : 'Country',
                                  'Employee_Salary' : 'Salary', 'Employee_Rating_New' : 'Rating_New', 'Employment_Status' : 'Employment_type' ,
                                  'Employment_City' : 'City'})

In [ ]:
df_renamed

,Name,Employee_Job_Title,Company_Name,Employee_City,Country,Employment_type,Salary,Rating,Rating_New
0,Spencer Adkins,Equities trader,James and Sons,New Russellton,Palestinian Territory,Full Time,321520,3.9,4.8
1,Julie Morton,Diplomatic Services operational officer,Nichols-James,North Melissafurt,Marshall Islands,Full Time,589090,4.3,5.6
2,Matthew Hall,Regulatory affairs officer,Scott Inc,Wardfort,Anguilla,Full Time,630890,3.1,3.2
3,Brad Scott,Production engineer,"Johnston, Fleming and Tanner",West Jamesview,Syrian Arab Republic,Full Time,116400,3.1,3.2
4,Theresa Owens,Production engineer,"Baker, Allen and Edwards",Whiteside,Dominica,Full Time,523499,4.8,6.6
...,...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Optometrist,Bullock-Carrillo,North Melissafurt,Samoa,Intern,99670,3.3,3.6
299996,Michele Butler,Administrator,"Johnston, Fleming and Tanner",Aliciafort,Cuba,Intern,949580,2.6,2.2
299997,Lynn Wilson,Administrator,Nichols-James,New Cindychester,Bolivia,Full Time,802830,0.6,1.5
299998,Lindsey Keith,Make,Nichols-James,Whitakerbury,Western Sahara,Full Time,257240,2.4,1.8
299999,Karen Delgado,Actuary,James and Sons,New Russellton,United Kingdom,Intern,575770,3.3,3.6

### 128. Count the number of NaN values in each column

In [ ]:
df.isna().sum()

Name                   0
Employee_Job_Title     0
Company_Name           0
Employee_City          0
Employee_Country       0
Employment_Status      0
Employee_Salary        0
Employee_Rating        0
Employee_Rating_New    0
dtype: int64

### 131.  Map every Company_Name to a unique integer value. Name the new column "Company_ID".

For instance, if the data has 5 companies, "Company A" -> 1, "Company B" -> 2, "Company C" -> 3, "Company D" -> 4, "Company E" -> 5.

In [ ]:
df['Company_ID'] = pd.factorize(df['Company_Name'])[0]

In [ ]:
df

,Name,Employee_Job_Title,Company_Name,Employee_City,Employee_Country,Employment_Status,Employee_Salary,Employee_Rating,Employee_Rating_New,Company_ID
0,Spencer Adkins,Equities trader,James and Sons,New Russellton,Palestinian Territory,Full Time,321520,3.9,4.8,0
1,Julie Morton,Diplomatic Services operational officer,Nichols-James,North Melissafurt,Marshall Islands,Full Time,589090,4.3,5.6,1
2,Matthew Hall,Regulatory affairs officer,Scott Inc,Wardfort,Anguilla,Full Time,630890,3.1,3.2,2
3,Brad Scott,Production engineer,"Johnston, Fleming and Tanner",West Jamesview,Syrian Arab Republic,Full Time,116400,3.1,3.2,3
4,Theresa Owens,Production engineer,"Baker, Allen and Edwards",Whiteside,Dominica,Full Time,523499,4.8,6.6,4
...,...,...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Optometrist,Bullock-Carrillo,North Melissafurt,Samoa,Intern,99670,3.3,3.6,11
299996,Michele Butler,Administrator,"Johnston, Fleming and Tanner",Aliciafort,Cuba,Intern,949580,2.6,2.2,3
299997,Lynn Wilson,Administrator,Nichols-James,New Cindychester,Bolivia,Full Time,802830,0.6,1.5,1
299998,Lindsey Keith,Make,Nichols-James,Whitakerbury,Western Sahara,Full Time,257240,2.4,1.8,1
299999,Karen Delgado,Actuary,James and Sons,New Russellton,United Kingdom,Intern,575770,3.3,3.6,0

### 133. Print the number of rows where 'City' belongs to the following list of cities.

Use the isin() method.

In [ ]:
city_filter_list = ["New Russellton", "Whiteside", "Kristaburgh"]

row_count = len(df[df['Employee_City'].isin(city_filter_list)])
print(row_count)

90054

### 135. Print the name of the person with the 10th largest salary. If there are multiple people with the same salary, print all names.

In [ ]:
salary10 = df.sort_values('Employee_Salary', ascending = False).iloc[9]['Employee_Salary']
df[df['Employee_Salary'] == salary10]['Name'].values

array(['Allen Chavez', 'David Ryan', 'Elizabeth Bell', 'Megan Petersen'],
      dtype=object)

### 136. Print a cross tabulation of Company Name and Employment Type.

In [ ]:
pd.crosstab(df['Company_Name'], df['Employment_Status'])

Employment_Status               Full Time  Intern
Company_Name
Andrade LLC                         15964    4019
Baker, Allen and Edwards            16118    3966
Bullock-Carrillo                    16135    3928
Campos, Reynolds and Mccormick      15930    3997
James and Sons                      15888    3980
Johnston, Fleming and Tanner        15832    3979
Marshall-Holloway                   15871    3988
Matthews Inc                        16082    4001
Nelson-Li                           16027    4105
Nichols-James                       15872    4039
Scott Inc                           16396    3994
Taylor-Ramos                        16086    4036
Thomas-Spencer                      16037    4105
Wallace, Smith and Shepard          15467    3897
White, Mcclain and Cobb             16305    3956

### 143-145. Print the 25th, 50th and 75th percentile of the Salary column

In [ ]:
print(df['Employee_Salary'].quantile(0.25))
print(df['Employee_Salary'].quantile(0.5))
print(df['Employee_Salary'].quantile(0.75))

250000.0
500780.0
749710.0

### 147. Distribute the Salary column in 10 equal sized bins and label each bin from 1 to 10 and add a new column named "Labels"

In [ ]:
bins = 10
labels = list(range(1,11))

df['Labels'] = pd.cut(df['Employee_Salary'], bins=bins, labels=labels)

In [ ]:
df

,Name,Employee_Job_Title,Company_Name,Employee_City,Employee_Country,Employment_Status,Employee_Salary,Employee_Rating,Employee_Rating_New,Company_ID,Labels
0,Spencer Adkins,Equities trader,James and Sons,New Russellton,Palestinian Territory,Full Time,321520,3.9,4.8,0,4
1,Julie Morton,Diplomatic Services operational officer,Nichols-James,North Melissafurt,Marshall Islands,Full Time,589090,4.3,5.6,1,6
2,Matthew Hall,Regulatory affairs officer,Scott Inc,Wardfort,Anguilla,Full Time,630890,3.1,3.2,2,7
3,Brad Scott,Production engineer,"Johnston, Fleming and Tanner",West Jamesview,Syrian Arab Republic,Full Time,116400,3.1,3.2,3,2
4,Theresa Owens,Production engineer,"Baker, Allen and Edwards",Whiteside,Dominica,Full Time,523499,4.8,6.6,4,6
...,...,...,...,...,...,...,...,...,...,...,...
299995,Nancy Neal,Optometrist,Bullock-Carrillo,North Melissafurt,Samoa,Intern,99670,3.3,3.6,11,1
299996,Michele Butler,Administrator,"Johnston, Fleming and Tanner",Aliciafort,Cuba,Intern,949580,2.6,2.2,3,10
299997,Lynn Wilson,Administrator,Nichols-James,New Cindychester,Bolivia,Full Time,802830,0.6,1.5,1,9
299998,Lindsey Keith,Make,Nichols-James,Whitakerbury,Western Sahara,Full Time,257240,2.4,1.8,1,3
299999,Karen Delgado,Actuary,James and Sons,New Russellton,United Kingdom,Intern,575770,3.3,3.6,0,6

# Pandas Notebook 4

### 151. Sort DataFrame based on another list

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], columns=["col1", "col2"])

sort_list = ["C", "A", "D", "B"]

# start your code below
new_df = df.set_index('col1').loc[sort_list].reset_index()
# end your code here
print(new_df)

  col1  col2
0    C     3
1    A     1
2    D     4
3    B     2

### 152. Insert a column at a specific location in a DataFrame with a name, "new_column"

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

new_column = ["P", "Q", "R", "S"]
insert_position = 1 ## between col_A and col_B

## start your code below
df.insert(column = 'new_column', value =new_column, loc = 1)

## end your code here
df

  col_A new_column  col_B
0     A          P      1
1     B          Q      2
2     C          R      3
3     D          S      4

### 154. Count the number of Non-NaN cells for each column

In [ ]:
import numpy as np

In [ ]:
df = pd.DataFrame([["A", np.NaN], [np.NaN, 2],
                   ["C", np.NaN], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df.count()
## end your code here

col_A    3
col_B    2
dtype: int64

### 156. Reverse DataFrame row-wise

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df[::-1]
## end our code here

  col_A  col_B
3     D      4
2     C      3
1     B      2
0     A      1

### 157. Reverse DataFrame column-wise

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df.iloc[:, ::-1]
## end your code here

   col_B col_A
0      1     A
1      2     B
2      3     C
3      4     D

### 158. Insert a row at an arbitrary position

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

insert_pos = 1
insert_row = ["P", 5]

## start your code below
insert_df = pd.DataFrame([insert_row], columns=df.columns)
df = pd.concat([df.iloc[:insert_pos], insert_df, df.iloc[insert_pos:]]).reset_index(drop=True)
## end your code here
df

  col_A  col_B
0     A      1
1     P      5
2     B      2
3     C      3
4     D      4

### 160. The cumulative sum of a column in DataFrame

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]], columns=["col_A", "col_B"])

## start your code below
new_df = df.copy()
new_df['CumulativeSum'] = 0
for i in range(len(new_df)):
  new_df['CumulativeSum'].iloc[i] = new_df.iloc[i-1]['CumulativeSum'] + new_df.iloc[i]['col_B']
## end your code here

new_df

<ipython-input-354-4a98619f4269>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['CumulativeSum'].iloc[i] = new_df.iloc[i-1]['CumulativeSum'] + new_df.iloc[i]['col_B']

  col_A  col_B  CumulativeSum
0     A      1              1
1     B      2              3
2     C      3              6
3     D      4             10

### 165. Filter n-largest values from a DataFrame

In [ ]:
df = pd.DataFrame([["A", 200], ["B", 400],
                   ["C", 100], ["D", 300]],
                  columns=["col_A", "col_B"])

k = 2

## start your code below
largest_k = df.sort_values(by = 'col_B', ascending=False).iloc[:k]
## end your code here

largest_k

  col_A  col_B
1     B    400
3     D    300

### 169. Delete the rows that have NaN values

In [ ]:
df = pd.DataFrame([["A", np.NaN], ["B", 2],
                   ["C", np.NaN], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df = df.dropna()
## end your code here

print(df)

  col_A  col_B
1     B    2.0
3     D    4.0

### 171. Fill NaN values with column mean

In [ ]:
df = pd.DataFrame([["A", np.NaN], ["B", 2],
                   ["C", np.NaN], ["D", 4]],
                  columns=["col_A", "col_B"])

## start your code below
df = df.fillna(df['col_B'].mean())
## end your code here

print(df)

  col_A  col_B
0     A    3.0
1     B    2.0
2     C    3.0
3     D    4.0

### 173. Swap two rows of a dataframe

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["C", 3], ["D", 4]],
                  columns=["col_A", "col_B"])

# swap second and last row
row_1, row_2 = 1, 3

## start your code below
df.iloc[[row_1,row_2]] = df.iloc[[row_2, row_1]]
## end your code here

print(df)

  col_A  col_B
0     A      1
1     D      4
2     C      3
3     B      2

### 174. Create a column "col_D" that contains the 2nd largest value in each row

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 2, 9],
                   [2, 9, 3],
                   [8, 5, 4]],
                  columns=["col_A", "col_B", "col_C"])

list(df.iloc[1].values).sort()

In [ ]:
a = [123,23]
a.sort()
a[1]

123

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 2, 9],
                   [2, 9, 3],
                   [8, 5, 4]],
                  columns=["col_A", "col_B", "col_C"])

## start your code below
def second_largest(row):
    sorted_row = sorted(row, reverse=True)
    return sorted_row[1]

df['col_D'] = df.apply(second_largest, axis=1)
# end your code here

df

   col_A  col_B  col_C  col_D
0      4      1      5      4
1      5      2      9      5
2      2      9      3      3
3      8      5      4      5

### 176. Get the Group "A" of the dataframe by first grouping the dataframe and then using the group key.

In [ ]:
df = pd.DataFrame([["A", 1], ["B", 2],
                   ["A", 3], ["D", 4]],
                  columns=["col_A", "col_B"])


## start your code below
group_A = df.groupby('col_A').get_group('A')
## end your code here

group_A

  col_A  col_B
0     A      1
2     A      3

### 178. Get the rows where the value of "col_A" is equal to "col_B".

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = df[df['col_A'] == df['col_B']]
## end your code here

print(new_df)

   col_A  col_B  col_C
1      5      5      9

### 180. Sort the Data on col_A and col_B

col_A -> Ascending
col_B -> Descending

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [2, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = df.sort_values(by = ['col_A', 'col_B'], ascending = [True, False])
## end your code here

print(new_df)

   col_A  col_B  col_C
2      2      9      3
1      2      5      9
0      4      1      5
3      8      5      8

### 182. Get the mean of every column

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
mean = df.mean()
## end your code here

print(mean)

col_A    4.75
col_B    5.00
col_C    6.25
dtype: float64

### 182. Get the mean of every row

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
mean = df.mean(axis = 1)
## end your code here

print(mean)

0    3.333333
1    6.333333
2    4.666667
3    7.000000
dtype: float64

### 183. Concatentate the two DataFrames row-wise

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_A", "col_B"])

## start your code below
new_df = pd.concat([df1,df2])
## end your code here

print(new_df)

  col_A  col_B
0     A      1
1     B      2
0     A      3
1     C      4

### 184. Concatentate the two DataFrames column-wise

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_C", "col_D"])

## start your code below
new_df = pd.concat([df1,df2], axis = 1)
## end your code here

print(new_df)

  col_A  col_B col_C  col_D
0     A      1     A      3
1     B      2     C      4

### 185. Change the last two values in the last column to [2,4]

Change 3 -> 2
Change 8 -> 4

**Note: You should do this in a single line of code**

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 9],
                   [2, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
df.iloc[2:, -1] = [2, 4]
## end your code here

print(df)

   col_A  col_B  col_C
0      4      1      5
1      5      5      9
2      2      9      2
3      8      5      4

### 186. Replace all '1' with '2'

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
df = df.replace({1 : 2})
## end your code here

print(df)

   col_A  col_B  col_C
0      4      2      5
1      5      5      2
2      2      9      3
3      8      5      8

### 187. Replace all '1' with '2' and '5' with '6' in a single line of code

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
df = df.replace({1 : 2, 5 : 6})
## end your code here

print(df)

   col_A  col_B  col_C
0      4      2      6
1      6      6      2
2      2      9      3
3      8      6      8

### 189. Convert the DataFrame to a list of lists. Don't include the header row.

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
data_list = df.values.tolist()
## end your code here

print(data_list)

[[4, 1, 5], [5, 5, 1], [1, 9, 3], [8, 5, 8]]

### 190. Add three new columns that show the cumulative sum of every column

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
df[['cumsum1', 'cumsum2', 'cumsum3']] = 0
for i in range(len(df)) :
  df['cumsum1'][i] = df.iloc[i]['col_A']
  df['cumsum2'][i] = df['cumsum1'][i]+df.iloc[i]['col_B']
  df['cumsum3'][i] = df['cumsum2'][i]+df.iloc[i]['col_C']
## end your code here

print(df)

   col_A  col_B  col_C  cumsum1  cumsum2  cumsum3
0      4      1      5        4        5       10
1      5      5      1        5       10       11
2      1      9      3        1       10       13
3      8      5      8        8       13       21

### 191. Print the cumulative sum of every row in a new column.

### In other words, make a column that stores the cumulative sum of the (sum of every row).

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
df['cumsum'] = df.sum(axis = 1)
## end your code here

print(df)

   col_A  col_B  col_C  cumsum
0      4      1      5      10
1      5      5      1      11
2      1      9      3      13
3      8      5      8      21

### 194. GroupBy col_A, then find the sum of col_B and mean of col_C

In [ ]:
df = pd.DataFrame([["A", 1, 5],
                   ["B", 5, 1],
                   ["C", 9, 3],
                   ["A", 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
df_A = df.groupby('col_A')
print(df_A['col_B'].sum())
print(df_A['col_C'].mean())
## end your code here

col_A
A    6
B    5
C    9
Name: col_B, dtype: int64
col_A
A    6.5
B    1.0
C    3.0
Name: col_C, dtype: float64

### 195. Find the correlation between every pair of column

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
new_df = df.corr()
## end your code here

print(new_df)

          col_A     col_B     col_C
col_A  1.000000 -0.424264  0.599377
col_B -0.424264  1.000000 -0.273434
col_C  0.599377 -0.273434  1.000000

### 198. Merge the two dataframes using the join() method on col_A.
참고) Note that the `join()` method is similar to the `merge()` method, but it operates on the index by default and has a simplified syntax.

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_A", "col_C"])

## start your code below
df1 = df1.set_index('col_A')
df2 = df2.set_index('col_A')
new_df = df1.join(df2, how = 'outer').reset_index()
# end your code here

print(new_df)

  col_A  col_B  col_C
0     A    1.0    3.0
1     B    2.0    NaN
2     C    NaN    4.0

### 199. Perform the full outer join on the two DataFrames.

In [ ]:
df1 = pd.DataFrame([["A", 1], ["B", 2]],
                  columns=["col_A", "col_B"])

df2 = pd.DataFrame([["A", 3], ["C", 4]],
                  columns=["col_A", "col_C"])

## start your code below
df1 = df1.set_index('col_A')
df2 = df2.set_index('col_A')
new_df = df1.join(df2, how = 'outer').reset_index()
## end your code here

print(new_df)

  col_A  col_B  col_C
0     A    1.0    3.0
1     B    2.0    NaN
2     C    NaN    4.0

### 200. Convert the DataFrame to a dictionary.

In [ ]:
df = pd.DataFrame([[4, 1, 5],
                   [5, 5, 1],
                   [1, 9, 3],
                   [8, 5, 8]],
                  columns=["col_A", "col_B", "col_C"])


## start your code below
dict_df = df.to_dict()
## end your code here

dict_df

{'col_A': {0: 4, 1: 5, 2: 1, 3: 8},
 'col_B': {0: 1, 1: 5, 2: 9, 3: 5},
 'col_C': {0: 5, 1: 1, 2: 3, 3: 8}}

### 끝.
### 고생하셨습니다.